* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.card_box {
    border: 10px solid white;
    background-color: #f2f2f2;
}

.header_box {
    
    background-size: cover;
    color: black;
    
}

.info_box {
    border: 2px solid black;
    padding: 5em;
    margin-bottom: 2em;
}

.info_box img {
    box-shadow: 6px 6px 4px 6px #888888;
}

footer {
    height: 200px;
    color: white;
    background-color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}